packaging/resources/v51/images/*.bin binary
packaging/resources/v51/images/*.hex binary
packaging/resources/v51/images/*.zip binary
software/firmware/prebuilt/*.elf binary
software/firmware/prebuilt/*.hex binary
